Host *
  AddKeysToAgent yes
  IdentityFile ~/.ssh/id_ed25519

Host web5 web8 web9 web10 mailer
  User web
  IdentityFile ~/.ssh/banovo_web_rsa
  ForwardAgent yes
  AddressFamily inet
  HostName %h.banovo.de
  Port 2607

Host vagrantdb vagrant5 vagrant7
  User vagrant
  ForwardAgent yes
  IdentityFile ~/.ssh/banovo_vagrant_rsa

Host docker-prod
 User root
 HostName docker-prod.banovo.cloud
 Port 2607
 IdentityFile ~/.ssh/banovo_ansible_rsa
 ForwardAgent yes

Host docker-preprod
 User root
 HostName docker-preprod.banovo.cloud
 Port 2607
 IdentityFile ~/.ssh/banovo_ansible_rsa
 ForwardAgent yes
